# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias ht="cd /Applications/MAMP/htdocs"
alias g="git"
alias h="history"
alias j="jobs"
alias v="vim"
alias m="mate ."
alias s="subl ."
alias o="open"
alias oo="open ."


# Extras

alias cleanterm='cd /private/var/log/asl/ && sudo rm *.asl && ht''
alias gitwp='git clone https://github.com/markjaquith/WordPress.git'
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"


# Server connections

alias orange='ssh waterstr@thedrums.asmallorange.com'
alias water='ssh waterstr@patty.machighway.com'
alias tarl='tar xvzf latest.tar.gz'
alias birdie='ssh tsutton@birdie.delt.mun.ca'
alias wpt='cd wp-content/themes'
 
 

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'
 
